{% extends "layout.html" %}

{% block body %}

<div class="pure-g">
    <div class="pure-u-1 flex-center">
        <div class="plotly-graph" id="chart_seasonal_rainfalls"></div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 flex-center">
        <div class="pure-button-group" role="group" aria-label="...">
            <button class="pure-button pure-button-primary" onclick="displayGraphAtIndex(1);">Sort ascending
            </button>
            <button class="pure-button pure-button-primary" onclick="displayGraphAtIndex(2);">Sort descending
            </button>
            <button class="pure-button" onclick="displayGraphAtIndex(0);">Reset</button>
        </div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 pure-u-xl-1-3 flex-center">
        <div class="plotly-graph" id="chart_averages"></div>
    </div>
    <div class="pure-u-1 pure-u-xl-1-3 flex-center">
        <div class="plotly-graph" id="chart_linreg"></div>
    </div>
    <div class="pure-u-1 pure-u-xl-1-3 flex-center">
        <div class="plotly-graph" id="chart_relative_distance_to_normal"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type='text/javascript'>
    var graph_seasonal_rainfalls_list = {{ plotlySeasonalRainfallsListJSON|safe }}

    const graph_div_id_to_graph_json = {
        chart_seasonal_rainfalls: JSON.parse(graph_seasonal_rainfalls_list[0]),
        chart_averages: {{ plotlyAveragesJSON|safe }},
        chart_linreg: {{ plotlyLinRegJSON|safe }},
        chart_relative_distance_to_normal: {{ plotlyRelativeDistance2NormalJSON|safe }},
    };

    resizeGraphs(graph_div_id_to_graph_json)
    colorizeGraphsFontsOnHover(graph_div_id_to_graph_json)
    
    function displayGraphAtIndex(index) {
        var graphSeasonalRainfall = JSON.parse(graph_seasonal_rainfalls_list[index]);
    
        resizeGraph('chart_seasonal_rainfalls', graphSeasonalRainfall);
        colorizeGraphFontsOnHover('chart_seasonal_rainfalls', graphSeasonalRainfall);
    
        if (window.screen.width < 768) {
            graphSeasonalRainfall.layout.font.size = default_layout_dict['phone']['font_size'];
            graphSeasonalRainfall.layout.margin = default_layout_dict['phone']['margin'];
        } else {
            graphSeasonalRainfall.layout.font.size = default_layout_dict['computer']['font_size'];
            graphSeasonalRainfall.layout.margin = default_layout_dict['computer']['margin'];
        }
    
        Plotly.react('chart_seasonal_rainfalls', graphSeasonalRainfall, {}, config);
    }
</script>

{% endblock %}