{% extends "layout.html" %}

{% block body %}

<div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-2 flex-center">
        <div class="plotly-graph" id="chart_summer_rainfall"></div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 flex-center">
        <div class="plotly-graph" id="chart_averages"></div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-2 flex-center">
        <div class="plotly-graph" id="chart_linreg"></div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 flex-center">
        <div class="plotly-graph" id="chart_relative_distance_to_normal"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type='text/javascript'>
    const graph_seasonal_rainfalls = {{ plotlySeasonalRainfallsJSON|safe }};
    const graph_averages = {{ plotlyAveragesJSON|safe }};
    const graph_linreg = {{ plotlyLinRegJSON|safe }};
    const graph_relative_distance_to_normal = {{ plotlyRelativeDistance2NormalJSON|safe }};

    const graph_div_id_to_graph_json = {
        chart_summer_rainfall: graph_seasonal_rainfalls,
        chart_averages: graph_averages,
        chart_linreg: graph_linreg,
        chart_relative_distance_to_normal: graph_relative_distance_to_normal,
    };

    ['load', 'resize'].forEach(event => window.addEventListener(event, function () {
        if (window.screen.width < 768) {
            Object.values(graph_div_id_to_graph_json).forEach((graph_json) => {
                graph_json.layout.font.size = 9;
            })
        } else {
            Object.values(graph_div_id_to_graph_json).forEach((graph_json) => {
                graph_json.layout.font.size = 11;
            })
        }

        Object.entries(graph_div_id_to_graph_json).forEach(([graph_div_id, graph_json]) => {
            Plotly.react(graph_div_id, graph_json, {}, config);
        })
    }))
</script>

{% endblock %}