<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <link rel="icon" href="../static/img/website_logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Barcelona Rainfall</title>
</head>

<body>
{% include 'includes/header.html' %}
<div class="body">
    {% block body %}{% endblock %}
</div>
{% include 'includes/footer.html' %}

<button id="scrollToTop" class="pure-button scroll-to-top" aria-label="Return to the top of the page">
    <svg width="20" height="20" viewBox="4 4 16 16" fill="none" stroke="currentColor" stroke-width="3"
         stroke-linecap="round" stroke-linejoin="round">
        <path d="M18 15l-6-6-6 6"/>
    </svg>
</button>

</body>

<script src="https://pure-css.github.io/js/menus.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/utils.js"></script>
{% block scripts %}{% endblock %}

</html>
