<div class="footer">
    <div class="pure-g">
        <div class="pure-u-1">
            <p>
                <a target="_blank" href="https://www.linkedin.com/in/paul-charles-6a49ba12b/"><img
                        class="logo"
                        src="../../static/img/logo/linkedin.svg"
                        alt="LinkedIn"></a>
                <a target="_blank" href="https://github.com/stars/paul-florentin-charles/lists/barcelona-rainfall"><img
                        class="logo"
                        src="../../static/img/logo/github.svg"
                        alt="GitHub"></a>
                Developed by <a target="_blank" href="https://paul-florentin-charles.github.io/">Paul Charles</a> — 🄯
                2023 – 2025.
            </p>
        </div>
    </div>
</div>