<div class="header">
    <div class="pure-g">
        <div class="pure-u-1">
            <h2 id="title"><a href="/">Barcelona Rainfall</a></h2>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-4">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="menu-father pure-menu-link">Rainfall</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a href="/rainfall_by_year" class="pure-menu-link">Rainfall by year</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/rainfall_average" class="pure-menu-link">Rainfall average</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/rainfall_normal" class="pure-menu-link">Rainfall normal</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/rainfall_relative_distance_to_normal" class="pure-menu-link">Relative distance
                                    to
                                    normal</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/rainfall_standard_deviation" class="pure-menu-link">Rainfall standard
                                    deviation</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pure-u-1-4">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink2" class="menu-father pure-menu-link">Year</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a href="/years_below_normal" class="pure-menu-link">Years below normal</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/years_above_normal" class="pure-menu-link">Years above normal</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pure-u-1-4"></div>
    </div>
</div>