<div class="header">
    <div class="pure-g">
        <div class="pure-u-1 header-flex">
            <h2 id="title"><a href="/">Barcelona Rainfall</a></h2>
            <button class="hamburger" id="hamburger-menu" aria-label="Toggle menu" aria-expanded="false"
                    aria-controls="main-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav class="pure-menu pure-menu-horizontal responsive-menu" id="main-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="/" class="pure-menu-link">Main panel</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/rainfall_by_year" class="pure-menu-link">Every year</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/rainfall_average" class="pure-menu-link">On average</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/rainfall_standard_deviation" class="pure-menu-link">Standard
                            deviation</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/rainfall_relative_distance_to_normal" class="pure-menu-link">Relative distance
                            to
                            normal</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/years_compared_to_normal" class="pure-menu-link">Years compared to normal</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>