{% extends "layout.html" %}

{% block body %}

<div class="pure-g">
    <div class="pure-u-1 flex-center">
        <div class="plotly-graph" id="chart_rainfall_by_year"></div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 flex-center">
        <div class="pure-button-group" role="group" aria-label="...">
            <button class="pure-button pure-button-primary" onclick="displayClusters(2);">2 clusters</button>
            <button class="pure-button pure-button-primary" onclick="displayClusters(3);">3 clusters</button>
            <button class="pure-button pure-button-primary" onclick="displayClusters(4);">4 clusters</button>
            <button class="pure-button" onclick="displayClusters(1);">Reset</button>
        </div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 flex-center">
        <div class="plotly-graph" id="chart_monthly_rainfalls"></div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 flex-center">
        <div class="pure-button-group" role="group" aria-label="...">
            <button class="pure-button pure-button-primary" onclick="_plotGraphAtIndex(1);">Sort by month &#8593;
            </button>
            <button class="pure-button pure-button-primary" onclick="_plotGraphAtIndex(2);">Sort by month &#8595;
            </button>
            <button class="pure-button" onclick="_plotGraphAtIndex(0);">Reset</button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type='text/javascript'>
    var graph_rainfall_by_year_list = {{ plotlyRainfallByYearJSONList|safe }}
    var graph_monthly_rainfalls_list = {{ plotlyMonthlyRainfallsListJSON|safe }}

    const graph_div_id_to_graph_json = {
        'chart_rainfall_by_year': JSON.parse(graph_rainfall_by_year_list[0]),
        'chart_monthly_rainfalls': JSON.parse(graph_monthly_rainfalls_list[0]),
    };

    plotGraphs(graph_div_id_to_graph_json)
    resizeGraphsOnLoadAndResize(graph_div_id_to_graph_json)
    colorizeGraphsFontsOnHover(graph_div_id_to_graph_json)
    colorizeGraphsOnLoadAndThemeSwitch(graph_div_id_to_graph_json)

    function displayClusters(n_clusters) {
        let graphRainfallByYearNClusters = JSON.parse(graph_rainfall_by_year_list[n_clusters - 1]);

        resizeGraphOnLoadAndResize('chart_rainfall_by_year', graphRainfallByYearNClusters);
        colorizeGraphFontsOnHover('chart_rainfall_by_year', graphRainfallByYearNClusters);

        if (window.screen.width < 768) {
            graphRainfallByYearNClusters.layout.font.size = default_layout_dict['phone']['font_size'];
            graphRainfallByYearNClusters.layout.margin = default_layout_dict['phone']['margin'];
        } else {
            graphRainfallByYearNClusters.layout.font.size = default_layout_dict['computer']['font_size'];
            graphRainfallByYearNClusters.layout.margin = default_layout_dict['computer']['margin'];
        }

        graphRainfallByYearNClusters.layout.legend.bgcolor = style.getPropertyValue('--legend-background-color');
        graphRainfallByYearNClusters.layout.font.color = style.getPropertyValue('--link-color');
        graphRainfallByYearNClusters.layout.paper_bgcolor = style.getPropertyValue('--header-background-color');
        graphRainfallByYearNClusters.layout.plot_bgcolor = style.getPropertyValue('--background-color');

        Plotly.react('chart_rainfall_by_year', graphRainfallByYearNClusters.data, graphRainfallByYearNClusters.layout);
    }

    function _plotGraphAtIndex(index) {
        replotGraph('chart_monthly_rainfalls', JSON.parse(graph_monthly_rainfalls_list[index]))
    }
</script>

{% endblock %}